# Importing libraries

In [8]:
# import libraries
import pandas as pd
import numpy as np
import os

# Importing data

In [9]:
path=r'/Users/tejas/Documents/CareerFoundry_DataAnalytics/Data Immersion/A4/Instacart Basket Analysis'

In [10]:
# import ords_prods_merged_temp.pkl data set
df_ords_prods_merged=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','4.8 ords_prods_merged_temp.pkl'))

In [11]:
# check the output
df_ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Most busy,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Least busy,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Average orders,3,New customer

In [12]:
# check the total size
df_ords_prods_merged.shape

(32404859, 20)

# Check basis stats of product prices for each loyalty category

In [13]:
# check basic statistics of product prices using loyalty_flag
df_ords_prods_merged.groupby('loyalty_flag').agg({'prices':['sum', 'mean', 'min', 'max']})

                       prices
                          sum       mean  min      max
loyalty_flag
Loyal customer    106814042.2  10.386336  1.0  99999.0
New customer       83011787.2  13.294670  1.0  99999.0
Regular customer  198391693.2  12.495717  1.0  99999.0

In [14]:
# check for outliers
df_ords_prods_merged.loc[df_ords_prods_merged['prices']>100]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag
13100147,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,912404,17,12,2,14,5.0,False,5,0,both,High-range product,Regularly busy,Most orders,40,Regular customer
13100148,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,603376,17,22,6,16,4.0,False,3,1,both,High-range product,Regularly busy,Average orders,40,Regular customer
13100149,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,3264360,135,2,2,21,13.0,False,6,0,both,High-range product,Regularly busy,Average orders,4,New customer
13100150,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,892534,135,3,0,8,12.0,False,3,1,both,High-range product,Most busy,Average orders,4,New customer
13100151,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,229704,342,8,1,19,30.0,False,9,0,both,High-range product,Most busy,Average orders,16,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21786876,33664,2 % Reduced Fat Milk,84,16,99999.0,2249946,204099,29,0,8,4.0,False,1,0,both,High-range product,Most busy,Average orders,39,Regular customer
21786877,33664,2 % Reduced Fat Milk,84,16,99999.0,2363282,204099,31,0,9,2.0,False,1,1,both,High-range product,Most busy,Average orders,39,Regular customer
21786878,33664,2 % Reduced Fat Milk,84,16,99999.0,3181945,204395,13,3,15,8.0,False,25,0,both,High-range product,Least busy,Most orders,15,Regular customer
21786879,33664,2 % Reduced Fat Milk,84,16,99999.0,2486215,205227,7,3,20,4.0,False,8,0,both,High-range product,Least busy,Average orders,12,Regular customer
21786880,33664,2 % Reduced Fat Milk,84,16,99999.0,2232716,205227,10,0,11,4.0,False,23,1,both,High-range product,Most busy,Most orders,12,Regular customer

### There are 5127 outlier observations making up 0.01% of the total data. Marking these outlier values as NANs.

In [15]:
# mark prices>100 as NANs since they are outliers
df_ords_prods_merged.loc[df_ords_prods_merged['prices']>100, 'prices']=np.nan

In [16]:
# check the max value in prices column
df_ords_prods_merged['prices'].max()

25.0

In [17]:
# check the output
df_ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Most busy,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Least busy,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Average orders,3,New customer

In [18]:
# check the total size
df_ords_prods_merged.shape

(32404859, 20)

In [19]:
# re-arrange columns
df_ords_prods_merged=df_ords_prods_merged[['order_id', 'user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'first_order', 'product_id', 'add_to_cart_order', 'reordered', 'product_name', 'aisle_id', 'department_id', 'prices', '_merge', 'price_label', 'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag']]

In [20]:
# check the output
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,3139998,138,28,6,11,3.0,False,1,5,0,Chocolate Sandwich Cookies,61,19,5.8,both,Mid-range product,Regularly busy,Most orders,32,Regular customer
1,1977647,138,30,6,17,20.0,False,1,1,1,Chocolate Sandwich Cookies,61,19,5.8,both,Mid-range product,Regularly busy,Average orders,32,Regular customer
2,389851,709,2,0,21,6.0,False,1,20,0,Chocolate Sandwich Cookies,61,19,5.8,both,Mid-range product,Most busy,Average orders,5,New customer
3,652770,764,1,3,13,NaN,True,1,10,0,Chocolate Sandwich Cookies,61,19,5.8,both,Mid-range product,Least busy,Most orders,3,New customer
4,1813452,764,3,4,17,9.0,False,1,11,1,Chocolate Sandwich Cookies,61,19,5.8,both,Mid-range product,Least busy,Average orders,3,New customer

In [21]:
# check the total size
df_ords_prods_merged.shape

(32404859, 20)

In [22]:
# check basic statistics of product prices using loyalty_flag
df_ords_prods_merged.groupby('loyalty_flag').agg({'prices':['sum', 'mean', 'min', 'max']})

                       prices
                          sum      mean  min   max
loyalty_flag
Loyal customer     79933825.2  7.773575  1.0  25.0
New customer       48701689.2  7.801206  1.0  25.0
Regular customer  123790606.2  7.798262  1.0  25.0

# Create a spending flag for each user based on the avg price of all their orders

In [23]:
# create avg_spending column by splitting data into user_id groups and applying transform function on prices
df_ords_prods_merged['avg_spending']=df_ords_prods_merged.groupby('user_id')['prices'].transform(np.mean)

In [24]:
# check the output
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spending
0,3139998,138,28,6,11,3.0,False,1,5,0,...,61,19,5.8,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811
1,1977647,138,30,6,17,20.0,False,1,1,1,...,61,19,5.8,both,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811
2,389851,709,2,0,21,6.0,False,1,20,0,...,61,19,5.8,both,Mid-range product,Most busy,Average orders,5,New customer,7.930208
3,652770,764,1,3,13,NaN,True,1,10,0,...,61,19,5.8,both,Mid-range product,Least busy,Most orders,3,New customer,4.972414
4,1813452,764,3,4,17,9.0,False,1,11,1,...,61,19,5.8,both,Mid-range product,Least busy,Average orders,3,New customer,4.972414

In [25]:
# create a spending_flag for 'Low spender' using loc
df_ords_prods_merged.loc[df_ords_prods_merged['avg_spending']<10, 'spending_flag']='Low spender'

In [26]:
# create a spending_flag for 'High spender' using loc
df_ords_prods_merged.loc[df_ords_prods_merged['avg_spending']>=10, 'spending_flag']='High spender'

In [27]:
# check the frequency of spending_flag
df_ords_prods_merged['spending_flag'].value_counts(dropna=False)

Low spender     32285131
High spender      119728
Name: spending_flag, dtype: int64

In [28]:
pd.options.display.max_rows = None

In [29]:
# check the first 100 rows of user_id, spending_flag and avg_order_price columns
df_ords_prods_merged[['user_id', 'spending_flag', 'avg_spending']].head(100)

    user_id spending_flag  avg_spending
0       138   Low spender      6.935811
1       138   Low spender      6.935811
2       709   Low spender      7.930208
3       764   Low spender      4.972414
4       764   Low spender      4.972414
5       777   Low spender      6.935398
6       825   Low spender      5.957576
7       910   Low spender      6.680000
8      1052   Low spender      7.162500
9      1052   Low spender      7.162500
10     1379   Low spender      5.813636
11     1480   Low spender      5.081633
12     1480   Low spender      5.081633
13     1480   Low spender      5.081633
14     1494   Low spender      6.803797
15     1494   Low spender      6.803797
16     1494   Low spender      6.803797
17     1540   Low spender      6.607122
18     1540   Low spender      6.607122
19     1540   Low spender      6.607122
20     1540   Low spender      6.607122
21     1540   Low spender      6.607122
22     1540   Low spender      6.607122
23     1540   Low spender      6.607122
24     1540   Low spender      6.607122
25     1540   Low spender      6.607122
26     1540   Low spender      6.607122
27     1540   Low spender      6.607122
28     1540   Low spender      6.607122
29     1540   Low spender      6.607122
30     1540   Low spender      6.607122
31     1540   Low spender      6.607122
32     1540   Low spender      6.607122
33     1540   Low spender      6.607122
34     1598   Low spender      7.123529
35     1598   Low spender      7.123529
36     1598   Low spender      7.123529
37     1647   Low spender      4.853521
38     1647   Low spender      4.853521
39     1647   Low spender      4.853521
40     1647   Low spender      4.853521
41     1647   Low spender      4.853521
42     2833   Low spender      7.377143
43     2850   Low spender      8.054153
44     2857   Low spender      8.353793
45     3010   Low spender      6.452800
46     3029   Low spender      7.960606
47     3395   Low spender      6.322222
48     3904   Low spender      7.511111
49     4006   Low spender      7.441100
50     4006   Low spender      7.441100
51     4006   Low spender      7.441100
52     4006   Low spender      7.441100
53     4006   Low spender      7.441100
54     4122   Low spender      7.598765
55     4141   Low spender      6.033333
56     4343   Low spender      7.393939
57     4553   Low spender      5.715789
58     4845   Low spender      7.229630
59     6866   Low spender      4.807143
60     7275   Low spender      4.620833
61     7669   Low spender      9.106757
62     7669   Low spender      9.106757
63     7669   Low spender      9.106757
64     7981   Low spender      7.115714
65     7981   Low spender      7.115714
66     7981   Low spender      7.115714
67     7981   Low spender      7.115714
68     7981   Low spender      7.115714
69     8703   Low spender      6.593459
70     8723   Low spender      5.677397
71     8735   Low spender      5.850000
72     9293  High spender     11.857143
73     9293  High spender     11.857143
74     9467   Low spender      7.709091
75     9694   Low spender      7.075354
76     9694   Low spender      7.075354
77     9694   Low spender      7.075354
78     9694   Low spender      7.075354
79     9694   Low spender      7.075354
80     9694   Low spender      7.075354
81     9694   Low spender      7.075354
82     9694   Low spender      7.075354
83     9694   Low spender      7.075354
84     9694   Low spender      7.075354
85     9694   Low spender      7.075354
86     9848   Low spender      8.312203
87    10113   Low spender      8.769565
88    10315  High spender     10.188889
89    10479   Low spender      7.779775
90    10708   Low spender      7.777403
91    10708   Low spender      7.777403
92    10789   Low spender      6.097701
93    10789   Low spender      6.097701
94    10789   Low spender      6.097701
95    10831   Low spender      7.494286
96    11119   Low spender      5.878641
97    11186   Low spender      6.618085
98    11243   Low spender      5.927149
99    11448   Low spender      5.981250

# Create an order frequency flag for each user

In [30]:
# create median column by splitting data into user_id groups and applying transform function on days_since_prior_order
df_ords_prods_merged['order_frequency']=df_ords_prods_merged.groupby('user_id')['days_since_prior_order'].transform(np.median)

In [31]:
# check the output
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spending,spending_flag,order_frequency
0,3139998,138,28,6,11,3.0,False,1,5,0,...,5.8,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0
1,1977647,138,30,6,17,20.0,False,1,1,1,...,5.8,both,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0
2,389851,709,2,0,21,6.0,False,1,20,0,...,5.8,both,Mid-range product,Most busy,Average orders,5,New customer,7.930208,Low spender,8.0
3,652770,764,1,3,13,NaN,True,1,10,0,...,5.8,both,Mid-range product,Least busy,Most orders,3,New customer,4.972414,Low spender,9.0
4,1813452,764,3,4,17,9.0,False,1,11,1,...,5.8,both,Mid-range product,Least busy,Average orders,3,New customer,4.972414,Low spender,9.0

In [32]:
# create an order_frequency_flag for 'Non-frequent customer' flag using loc
df_ords_prods_merged.loc[df_ords_prods_merged['order_frequency']>20, 'order_frequency_flag']='Non-frequent customer'

In [33]:
# create an order_frequency_flag for 'Regular customer' flag using loc
df_ords_prods_merged.loc[(df_ords_prods_merged['order_frequency']<=20) & (df_ords_prods_merged['order_frequency']>10), 'order_frequency_flag']='Regular customer'

In [34]:
# create an order_frequency_flag for 'Frequent customer' flag using loc
df_ords_prods_merged.loc[df_ords_prods_merged['order_frequency']<=10, 'order_frequency_flag']='Frequent customer'

In [35]:
# check the frequency of order_frequency_flag
df_ords_prods_merged['order_frequency_flag'].value_counts(dropna=False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [36]:
# check the first 100 rows of user_id, spending_flag and avg_order_price columns
df_ords_prods_merged[['user_id', 'order_frequency_flag', 'order_frequency']].head(100)

    user_id   order_frequency_flag  order_frequency
0       138      Frequent customer              8.0
1       138      Frequent customer              8.0
2       709      Frequent customer              8.0
3       764      Frequent customer              9.0
4       764      Frequent customer              9.0
5       777       Regular customer             11.0
6       825       Regular customer             20.0
7       910      Frequent customer              6.0
8      1052      Frequent customer             10.0
9      1052      Frequent customer             10.0
10     1379       Regular customer             20.0
11     1480      Frequent customer              7.0
12     1480      Frequent customer              7.0
13     1480      Frequent customer              7.0
14     1494      Frequent customer              7.0
15     1494      Frequent customer              7.0
16     1494      Frequent customer              7.0
17     1540      Frequent customer              7.0
18     1540      Frequent customer              7.0
19     1540      Frequent customer              7.0
20     1540      Frequent customer              7.0
21     1540      Frequent customer              7.0
22     1540      Frequent customer              7.0
23     1540      Frequent customer              7.0
24     1540      Frequent customer              7.0
25     1540      Frequent customer              7.0
26     1540      Frequent customer              7.0
27     1540      Frequent customer              7.0
28     1540      Frequent customer              7.0
29     1540      Frequent customer              7.0
30     1540      Frequent customer              7.0
31     1540      Frequent customer              7.0
32     1540      Frequent customer              7.0
33     1540      Frequent customer              7.0
34     1598      Frequent customer              2.0
35     1598      Frequent customer              2.0
36     1598      Frequent customer              2.0
37     1647  Non-frequent customer             25.0
38     1647  Non-frequent customer             25.0
39     1647  Non-frequent customer             25.0
40     1647  Non-frequent customer             25.0
41     1647  Non-frequent customer             25.0
42     2833       Regular customer             13.0
43     2850      Frequent customer              7.0
44     2857       Regular customer             11.0
45     3010      Frequent customer              7.0
46     3029  Non-frequent customer             28.0
47     3395       Regular customer             18.0
48     3904  Non-frequent customer             21.0
49     4006      Frequent customer              7.0
50     4006      Frequent customer              7.0
51     4006      Frequent customer              7.0
52     4006      Frequent customer              7.0
53     4006      Frequent customer              7.0
54     4122      Frequent customer              7.0
55     4141  Non-frequent customer             30.0
56     4343  Non-frequent customer             30.0
57     4553  Non-frequent customer             30.0
58     4845       Regular customer             20.0
59     6866  Non-frequent customer             30.0
60     7275       Regular customer             12.0
61     7669      Frequent customer              5.0
62     7669      Frequent customer              5.0
63     7669      Frequent customer              5.0
64     7981      Frequent customer              6.0
65     7981      Frequent customer              6.0
66     7981      Frequent customer              6.0
67     7981      Frequent customer              6.0
68     7981      Frequent customer              6.0
69     8703      Frequent customer              1.0
70     8723      Frequent customer              6.0
71     8735  Non-frequent customer             27.0
72     9293  Non-frequent customer             30.0
73     9293  Non-frequent customer             30.0
74     9467  Non-frequent customer             30.0
75     9694      Frequent customer             10.0
76     9694      Frequent customer             10.0
77     9694      Frequent customer             10.0
78     9694      Frequent customer             10.0
79     9694      Frequent customer             10.0
80     9694      Frequent customer             10.0
81     9694      Frequent customer             10.0
82     9694      Frequent customer             10.0
83     9694      Frequent customer             10.0
84     9694      Frequent customer             10.0
85     9694      Frequent customer             10.0
86     9848       Regular customer             11.0
87    10113       Regular customer             12.0
88    10315       Regular customer             11.0
89    10479       Regular customer             14.5
90    10708       Regular customer             14.0
91    10708       Regular customer             14.0
92    10789      Frequent customer              7.0
93    10789      Frequent customer              7.0
94    10789      Frequent customer              7.0
95    10831  Non-frequent customer             23.0
96    11119       Regular customer             13.0
97    11186      Frequent customer              6.0
98    11243      Frequent customer              6.0
99    11448       Regular customer             14.0

In [37]:
# check the final output
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,_merge,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spending,spending_flag,order_frequency,order_frequency_flag
0,3139998,138,28,6,11,3.0,False,1,5,0,...,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1977647,138,30,6,17,20.0,False,1,1,1,...,both,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,389851,709,2,0,21,6.0,False,1,20,0,...,both,Mid-range product,Most busy,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,652770,764,1,3,13,NaN,True,1,10,0,...,both,Mid-range product,Least busy,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1813452,764,3,4,17,9.0,False,1,11,1,...,both,Mid-range product,Least busy,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [38]:
# check the total size
df_ords_prods_merged.shape

(32404859, 24)

In [39]:
# export df_ords_prods_merged_new to pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_new.pkl'))